[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/project-nestjs-microservices/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/project-nestjs-microservices/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/project-nestjs-microservices/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/project-nestjs-microservices/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/project-nestjs-microservices/auth-ms.git
